<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navbar">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "News", news_path%></li>
      <li><%= link_to "Goals", goals_path %></li>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "Content", content_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
